<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Career</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  <style>
    #banner{
      height: 360px;
      object-fit:cover;
      width: 100%;
      margin-bottom: 16px;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-5">{{company_name}} Careers</h1>
      <img id="banner" src="https://3f88de00-f709-4c5e-ac5d-81e318d96a63-00-3lwov037jkmb6.sisko.replit.dev/static/image.jpg" class="img-fluid" alt="image">
    <div class="container">
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
    <div>
      <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis arcu in justo blandit, eu vehicula sapien commodo. Sed eu scelerisque sem. Mauris et ligula nec orci tincidunt fermentum. Quisque tristique euismod sapien, eget tincidunt lectus venenatis a. Donec feugiat tristique viverra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus"</p>
    </div>
  </div>
      <h2 class="text-center mt-2 mb-4 ">Open Positions</h2>
      <div>
          {%for job in jobs%}
            
            {% include 'jobitem.html' %}
    
          {% endfor %}
      </div>
      <div class="text-center" >
        <button class="btn btn-success btn-lg">Contact us</button>
        <p class="mt-4">Copyright Jovian 2022</p>
      </div>
    </div>
  </body>
</html>